nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

.nav__link {
    margin-right: 45px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 18px;
    transition: border-bottom .2s linear;
    transition: padding-bottom .2s linear;
}

.nav__link:hover {
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
}





.btn {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(51, 51, 51);
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    transition: background-color .2s linear;
}

.btn:hover {
    background-color: rgb(93, 93, 93);
}

.btn:focus {
    background-color: #fff;
    border: 2px solid #000;
    cursor: default;
    color: #000;
}